.page-container {
    display: flex;
  }
  
.content-panel {
    flex: 1;
    margin-left: 30%; 

    padding: 20px;

}
.short-connect-description{
  font-family: "Inter", sans-serif;
  font-size: 20px;
  margin-bottom:2em;

}